{% extends 'base.html' %}
{% load static %}
{% block title %}
Install
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item" style="font-size: 2rem;"><a href="/">Dashboard</a></li>
<li class="breadcrumb-item active" style="font-size: 2rem;" aria-current="page">Install</li>
{% endblock %}

{% block content %}
<script type="text/javascript">
var filefound = ('{{filefound}}' == 'True');
</script>
<script src="{% static 'js/installpp.js' %}"></script>
	<div style="margin: auto; width: 50%; text-align: center; padding-top: 10px;">
		<p>To begin installation, please press install.</p>
		{% if filefound %}
                <input class="btn btn-primary btn-lg" id="installbtn" type="button" value="Install">
		{% else %}
		<input class="btn btn-primary btn-lg" id="installbtn" type="button" value="Install" disabled="disabled"><br>
		<div class="invalid-feedback" id="notFoundFile" style="display: inline;">Installation File Not Found</div>
		{% endif %}
		<br>
		<div id="History" class="dropdown" style="padding-top: 4px;">
			<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Install History</button>
			<div id="logmenu" class="dropdown-menu">
			</div>
		</div>
        </div>
<br><br>
<div class="container" style="background-color: #e9ecef; border: 1px solid #ced4da; height: 400px; border-radius: .25rem; overflow: auto; display: none; padding: 1rem" id="log" >
</div>
{% endblock %}
